{% extends "base.html" %}
{% block body %}
<div class="card bg-light p-5">
    {% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}
    <h1 class="text-dark">Login</h1>
    <form action="/authCart/login/" method="post">
        {% csrf_token %}
        <br />
        <label for="email">Email</label>
        <div class="form-group">
            <input type="email" class="form-control p-2" id="email" name="email" required />
        </div>
        <label for="pass1">Password</label>
        <div class="form-group">
            <input type="password" class="form-control p-2" id="pass1" name="pass1" required />
        </div>
        <br />
        <button type="submit" class="btn btn-dark">Login</button>
        <br />
        New User ? <a href="/authCart/signup/">Sign Up</a>
        <br />
    </form>
</div>
{% endblock body %}
