{% extends "base.html" %}
{% block body %}

<div class="card bg-light p-5">

    {% if messages %}
        <div id="popup" class="popup">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="text-dark">Contact Us</h1>
    
    <form action="/contact_us/" method="post">
      {% csrf_token %}
      <br />
  
      <label for="name">Name</label>
      <div class="form-group">
        <input
          type="text"
          class="form-control p-2"
          id="name"
          name="name"
          required
        />
      </div>
      <label for="email">Email</label>
      <div class="form-group">
        <input
          type="email"
          class="form-control p-2"
          id="email"
          name="email"
          required
        />
      </div>
      <label for="message_type">Message/Issue</label>
      <div class="form-group">
        <select id="message_type" name="message_type" class="form-control p-2" onchange="showOtherMessageField()" required>
          <option value="" disabled selected>Select a reason</option>
          <option value="product_not_delivered">Product not delivered</option>
          <option value="wrong_damaged_product">Received wrong/damaged product</option>
          <option value="others">Others</option>
        </select>
      </div>
      <div class="form-group" id="other_message_div" style="display: none;">
        <label for="other_message">Other Message</label>
        <textarea
          class="form-control p-2"
          id="other_message"
          name="other_message"
        ></textarea>
      </div>
      <br />
      <button type="submit" class="btn btn-dark" onclick="showPopup()">Submit</button>
  
      <br />
    </form>
</div>

<style>
    /* Styles for the popup */
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
</style>

<script>
    function showPopup() {
        var popup = document.getElementById("popup");
        popup.style.display = "block";
        // You might want to consider adding a setTimeout function to hide the popup after some time.
    }

    function showOtherMessageField() {
        var message_type = document.getElementById('message_type').value;
        if (message_type == 'others') {
            document.getElementById('other_message_div').style.display = 'block';
        } else {
            document.getElementById('other_message_div').style.display = 'none';
        }
    }
</script>

{% endblock body %}
